
{% apply inline_css %}
    <style>
        h2 {
        color: #2c3e50;
      }

      table {
        width: 100%;
        font-size: 14px;
        border-collapse: collapse;
      }

      td {
        padding: 8px;
        vertical-align: top;
      }

      .photo {
        border: 1px solid #ccc;
        width: 150px;
      }
    </style>
 <h2>Nouvelle demande de prêt</h2>

    <table cellspacing="0" cellpadding="8" border="0" style="max-width: 600px;">
      <tr>
        <td><strong>Nom :</strong></td>
        <td>{{ lastname }}</td>
      </tr>
      <tr>
        <td><strong>Prénom :</strong></td>
        <td>{{ firstname }}</td>
      </tr>
      <tr>
        <td><strong>Email :</strong></td>
        <td>{{ email }}</td>
      </tr>
      <tr>
        <td><strong>Téléphone :</strong></td>
        <td>{{ phone }}</td>
      </tr>
      <tr>
        <td><strong>Adresse :</strong></td>
        <td>{{ adresse }}</td>
      </tr>
      <tr>
        <td><strong>Pays :</strong></td>
        <td>{{ country }}</td>
      </tr>
      <tr>
        <td><strong>Ville :</strong></td>
        <td>{{ city }}</td>
      </tr>
      <tr>
        <td><strong>Montant demandé :</strong></td>
        <td>{{ montant }} {{ devise }}</td>
      </tr>
      <tr>
        <td><strong>Durée :</strong></td>
        <td>{{ duration }} mois</td>
      </tr>
      <tr>
        <td><strong>OBJET DE LA DEMANDE DE PRET :</strong></td>
        <td>{{ subject }} mois</td>
      </tr>
      <tr>
        <td><strong>Consentement :</strong></td>
        <td>{{ consentcheckbox ? 'Oui' : 'Non' }}</td>
      </tr>
    </table>

    <hr style="margin: 20px 0;">

    <h4 style="color: #2c3e50;">Photos d'identité :</h4>
    <table cellpadding="10" cellspacing="0" border="0">
      <tr>
        <td align="center">
          <img src="{{ photo1Cid }}" alt="Photo Identité 1" class="photo"/>
        </td>
        <td align="center">
          <img src="{{ photo2Cid }}" alt="Photo Identité 2" class="photo" />
        </td>
      </tr>
    </table>

    <p style="margin-top: 20px;">📎 Le document d’identité est joint au mail (PDF).</p>
   
{% endapply %}